@{
    Layout = "_Menu.cshtml";
    Page.Title = "Игроки";
}
@using SundayStarcraft.Ioc;
@using SundayStarcraft.Entities;
<h1>Игроки</h1>
@if (IsPost)
{
    string name = (string)Request["Name"];
    string nickname = (string)Request["Nickname"];



    if (name != null && nickname != null)
    {
        var race = Int32.Parse(Request["Race"]);
        var player = new Player { Name = name, Nickname = nickname, Race = (Races)race };
        PlayerIoc.PlayerLogic.Add(player);
    }
    int playerid;
    Int32.TryParse(Request["PlayerID"], out playerid);
    PlayerIoc.PlayerLogic.DeleteById(playerid);


    Response.Redirect("User");

}
else
{
    var playerLogic = PlayerIoc.PlayerLogic;

    var players = playerLogic.GetAll();

    <p>Список игроков</p>
    <div class="spisok">
        <p>PlayerID Name Login Password</p>
        @foreach (var item in players)
        {
            <div>@item.PlayerID @item.Name @item.Nickname @item.Race </div>
        }
    </div>
    <form method="post" action="~/User.cshtml">

        <div>
            <p>Name</p><input type="text" name="Name" id="inputName">
        </div>
        <div>
            <p>Nickname</p><input type="text" name="Nickname" id="inputNickname">
        </div>
        <div>
            <p>Race</p>
            <select name="Race">
                <option value="1">Terran</option>
                <option value="2">Zerg</option>
                <option value="3">Protoss</option>
            </select>
        </div>
        <button type="submit">Готово</button>
    </form>

    <div>
        <label>Удалить игрокаа</label>
        <form method="post" action="~/User.cshtml">
            <input type="text" name="PlayerID" id="inputID">
            <button type="submit">Удалить</button>
        </form>
    </div>
}